
.body{

    background-color: red;
}


.one{
    display: flex;
    flex-direction: column;
    background-color: #1F2937 ;
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 100px;
    padding-left: 140px;
    padding-right: 140px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.links{
    display: flex;
    gap: 22px;
}

a{
    text-decoration: none;  
    color: white;
    font-size: 14px;
}

.content-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 70px;
}

#sign-up{
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 6px 26px;
}


.two{

}

.subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}

.icon{
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 10px;
    height: 80px;
    width: 80px;

}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.three{
    background-color: #E5E7EB;
}

.the-quote{
    padding: 50px 180px;
}

.quote{
    font-size: 26px;
    font-family:'Courier New', Courier, monospace;
}

.quoter{
    display: flex;
    justify-content: flex-end;
    font-family:'Courier New', Courier, monospace;
}

.icon-subtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.the-subtext{
    display: flex;
    font-size: 12px;
    justify-content: center;
}

.four{
    background-color: #E5E7EB;
}